body {
    margin: 0;
    padding: 0;
}

.contenido {
    margin: 20px;
}

.color1 {
    color: #ffb251;
    text-align: center;
}

.color2 {
    color: #ffcf4e;
}

.color3 {
    color: #0023ae;
}

.color4 {
    color: #3d5eea;
}

.color5 {
    color: #c2aeff;
}
