body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(150deg,  #ffb251  ,#ffcf4e, #3d5eea);
    height: 100vh;
}

.formulario-iniciar-sesion{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 10px;
}

.formulario-iniciar-sesion h1{
    text-align: center;
    color: white;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.formulario-iniciar-sesion form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .usuario, .password{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.usuario input, .password input{
    width: 100%;
    padding: 0 5px;
    height:  40px;
    font-size: 16px;
    background: none;
    border: none;
    outline: none;
    color: white;
}

.usuario label, .password label{
    position: absolute;
    top: 50%;
    left: 5px;
    color:silver;
    transform: translateY(-150%);
    pointer-events: none;
    font-size: 16px;
}

.usuario input:focus + label,
.password input:focus + label {
  transform: translateY(-150%);
  font-size: 12px;
  color: transparent;
  transition: transform 0.2s, font-size 0.2s, color 0.2s;
}

.recordar-password{
    text-decoration: underline;
    color: white;
    margin: 20px;
    text-align: center;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    background: linear-gradient(150deg , #000a35,#2c001e, #272500 );
    border-radius: 10px;
    font-size: 20px;
    color: white;

    outline: none;
}

.registrarse{
    margin: 30px;
    text-align: center;
    font-size: 16px;
    color: white;
}

.registrarse a{
    color:aqua;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}




